@font-face  {
    font-family: 'anirb';
    src: url(Font/anirb.ttf);
}
@font-face  {
    font-family: 'anirm';
    src: url(Font/anirm.ttf);
}
@font-face  {
    font-family: 'partybusiness';
    src: url(Font/partybusiness.ttf);
}
@font-face  {
    font-family: 'tnganb';
    src: url(Font/tnganb.ttf);
}

/* nav */
.container-fluid {
    background-color: darkorange;
}
.navbar-nav{
    font-family: 'anirm' !important;
    position: relative;
    margin: auto;
}
.nav-item{
    border-right: 1px solid white;

}

/* Carrousel */
.carousel-item{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 300px ;
   

  }
  

  /* fin carousel
  Début button */


 /* Font */
h3 {
    font-family: 'anirm'!important;
}
span {
    font-family: 'tnganb'!important;
    color: orange;
}

.pill-title {
    text-align: center;
    margin-top: 0.6em;
}
.badge {
    font-family: 'anirb'!important;
    text-decoration-color: darkorange;
}
.pill-center {
    text-align: center;
}
/*  Fin font
début card*/
.card-gand {
    background-image: url(file:///home/antoine/Documents/integration_maquette_finale/gandalf.png);
    width: 18rem;
    height: 22rem;
    opacity: 0.4;
}
.card-gand:hover {
    background-image: url(file:///home/antoine/Documents/integration_maquette_finale/gandalf.png);
    opacity: 0.9;
}
.card-ara {
    background-image: url(file:///home/antoine/Documents/integration_maquette_finale/aragorn.png);
    width: 18rem;
    height: 22rem;
    opacity: 0.4;
}
.card-ara:hover {
    background-image: url(file:///home/antoine/Documents/integration_maquette_finale/aragorn.png);
    opacity: 1;
}
.card-gim {
    background-image: url(file:///home/antoine/Documents/integration_maquette_finale/gimli.png);
    width: 18rem;
    height: 22rem;
    opacity: 0.5;
}
.card-gim:hover {
    background-image: url(file:///home/antoine/Documents/integration_maquette_finale/gimli.png);
    opacity: 1;
}